.image {
    width: 130px;
    height: auto;
    margin: 10px;
    padding-left: 25%;
}
.um{
    background: grey;
    width: 300px;
    margin-left: 40%;
    border-radius: 10px;
}
.Takeshi5{
    font-family: Arial;
}
